synapse/pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "test",
						"value": "pipeline"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NewPipeline1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n'https://',pipeline().DataFactory, 'dev.azuresynapse.net',\n'/pipelineruns/', activity('Execute Pipeline1').output.pipelineID, '?api-version=2020-12-01'\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			}
		],
		"parameters": {
			"test": {
				"type": "string",
				"defaultValue": "annotation"
			}
		},
		"variables": {
			"output": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"annotations": [
			"@activity('Execute Pipeline1').output"
		],
		"lastPublishTime": "2022-01-28T16:59:50Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}